# exclude everything except directory

.DS_Store
.amazonq
.cursor
.marscode
.git
.vscode
.phpunit.cache
.lingma
GEMINI.md
composer.lock
vendor
node_modules
source
tests
dev.php
dev.js
QWEN.md
nodemon.json
package-lock.json
package.json
scripts